
*.xcbkptlist
*.xcuserstate
Pods/Pods.xcodeproj/xcuserdata/bx2.xcuserdatad/xcschemes/xcschememanagement.plist
tmpNote.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
tmpNote.xcodeproj/xcuserdata/bx2.xcuserdatad/xcschemes/xcschememanagement.plist
.DS_Store
